<%- include("partials/header", { bot, user, path, title: `Queue | ${guild.name}` }) %>
<% function msToHMS (ms) {
  let totalSeconds = (ms / 1000)
  const hours = Math.floor(totalSeconds / 3600).toString()
  totalSeconds %= 3600
  const minutes = Math.floor(totalSeconds / 60).toString()
  const seconds = Math.floor(totalSeconds % 60).toString()
  return (hours === '0' ? `${minutes}:${seconds.padStart(2, '0')}` : `${hours}:${minutes.padStart(2, '0')}:${seconds.padStart(2, '0')}`)
} %>

<script type="text/javascript">
  const evtSource = new EventSource('/update/<%= guild.id %>')
  evtSource.onmessage = function (content) {
    if (content.data === 'refresh') { window.location.href = '' }
  }
  window.onload = function () {
    // Alerts
    const alert = document.getElementById('alert')
    if (alert) {
      alert.addEventListener('transitioned', () => alert.remove())
      setTimeout(() => alert.style.opacity = '0', 5000)
    }

    // Increment seconds
    <% if (queue && queue.current && !queue.connection.paused && queue.current.durationMS > 0) { %>
    function msToHMS (ms) {
      let totalSeconds = (ms / 1000)
      const hours = Math.floor(totalSeconds / 3600).toString()
      totalSeconds %= 3600
      const minutes = Math.floor(totalSeconds / 60).toString()
      const seconds = Math.floor(totalSeconds % 60).toString()
      return (hours === '0' ? `${minutes}:${seconds.padStart(2, '0')}` : `${hours}:${minutes.padStart(2, '0')}:${seconds.padStart(2, '0')}`)
    }
    let currentMS = Number(<%= queue.streamTime %>)
    const time = document.getElementById('time')
    const progress = document.getElementById('progress')

    function incrementSeconds () {
      currentMS += 1000
      currentMS = Math.min(currentMS, <%= queue.current.durationMS %>)
      time.innerHTML = `${msToHMS(currentMS)} / <%= queue.current.duration %>`
      progress.style.width = `${(currentMS / Number(<%= queue.current.durationMS %>) * 100)}%`
    }
    setInterval(incrementSeconds, 1000)
    <% } %>

    // Media Session
    <% if (queue && queue.current) { %>
    if (navigator.userAgent.indexOf("Firefox") !== -1) {
      const audio = document.createElement('audio')
      audio.src = '/near-silence.mp3'
      audio.volume = 0.00001
      audio.load()
      audio.play()
      setTimeout(() => audio.pause(), 100)

      function htmlDecode(input) { return (new DOMParser().parseFromString(input, "text/html")).documentElement.textContent }
      navigator.mediaSession.metadata = new MediaMetadata({
        title: htmlDecode('<%= queue.current.title %>'),
        artist: htmlDecode('<%= queue.current.author %>'),
        album: htmlDecode('<%= queue.current.author %>'),
        artwork: [{ src: htmlDecode('<%= queue.current.thumbnail %>') }]
      })
      navigator.mediaSession.playbackState = '<%- queue.connection.paused ? 'paused' : 'playing' %>'

      navigator.mediaSession.setActionHandler('play', () => { document.getElementById('pause').click() })
      navigator.mediaSession.setActionHandler('pause', () => { document.getElementById('pause').click() })
      navigator.mediaSession.setActionHandler('nexttrack', () => { document.getElementById('skip').click() })
      navigator.mediaSession.setActionHandler('previoustrack', () => { document.getElementById('previous').click() })
    }
  <% } %>
  }
</script>

<div class="card col-sm-10 offset-sm-1">
  <header class="card-header">
    <div><i class="fas fa-list"></i> <%= guild.name %></div>
  </header>
  <div class="card-body">
    <%- alert && type ? `<div class="alert alert-${type}" id="alert" style="color: #000000; opacity: 0.85; position: absolute; width: calc(100% - 2rem); margin: 0; transition: opacity 1s; pointer-events:none;"><i class="fas fa-info-circle"></i> ${alert}</div>` : '' %>
    <% if(queue && queue.current) { %>
    <div style="display: flex; justify-content: space-between;">
      <h1 style="font-family: 'Bebas Neue', sans-serif;">Now Playing</h1>
      <form method="POST" style="margin: 0;">
        <button type="submit" class="button" name="action" value="reload"><i class="far fa-redo-alt"></i></button>
      </form>
    </div>
    <div style="height: 200px; margin-bottom: 10px;">
      <ul class="horizontal-list">
        <li>
          <img src="<%- queue.current.thumbnail %>" style="height: 200px; width: 356px; flex-shrink: 4; margin-right: 20px;">
          <div style="width: 356px; background-color: #373b3e">
            <div id="progress" style="width: <%= queue.streamTime / queue.current.durationMS * 100 %>%; height: 5px; background-color: #ff0000"></div>
          </div>
        </li>
        <li>
          <a href="<%= queue.current.url %>" target="_blank"><h4><%= queue.current.title %></h4></a>
          <h6><%= queue.current.author %></h6>
          <h5 id="time"><%= queue.current.durationMS === 0 ? '🔴 Live' : `${msToHMS(queue.streamTime)} / ${queue.current.duration}` %></h5>
          <form method="POST" style="width: 100%; margin: 0 0 10px 0;">
            <button type="submit" class="button" name="action" value="previous" id="previous"><i class="fas fa-backward"></i></button>
            <button type="submit" class="button" name="action" value="pause" id="pause"><%- queue.connection.paused ? '<i class="fas fa-play"></i>' : '<i class="fas fa-pause"></i>' %></button>
            <button type="submit" class="button" name="action" value="skip" id="skip"><i class="fas fa-forward"></i></button>
            &nbsp;
            <button type="submit" class="button" name="action" value="shuffle"><i class="fas fa-random"></i></button>
            <button type="submit" class="button" name="action" value="repeat"><%- queue.repeatMode === 0 ? '<i class="fad fa-repeat-alt"></i>' : queue.repeatMode === 1 ? '<i class="fas fa-repeat-1-alt"></i>' : '<i class="fas fa-repeat"></i>' %></button>
          </form>
        </li>
      </ul>
    </div>
    <form id="volumeform" method="POST" style="margin: 0 0 0 0; display: inline-block;">
      <input type="hidden" name="action" value="volume">
      <button class="button noFixedWidth" id="volumeButton" disabled="disabled" style="width: 65px;"><i class="fas fa-volume<%= queue.volume === 0 ? '-off' : queue.volume <= 33 ? '-down' : queue.volume <= 66 ? '' : '-up' %>"></i> <%= queue.volume %></button>
      <input type="range" name="volume" value="<%= queue.volume %>" step="10" min="0" max="100" oninput="document.getElementById('volumeButton').innerHTML = `<i class=&quot;fas fa-volume${value == 0 ? '-off' : value <= 33 ? '-down' : value <= 66 ? '' : '-up'}&quot;></i> ${value}`" onmouseup="document.getElementById('volumeform').submit()">
    </form>
    <h1 style="font-family: 'Bebas Neue', sans-serif; margin-top: 20px">Queue</h1>
    <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
      <form method="POST" style="margin: 0;">
        <input type="text" class="music-input" name="query" placeholder="Add to queue">
        <button type="submit" class="button noFixedWidth" name="action" value="play"><i class="fas fa-plus"></i> Play</button>
      </form>
      <form method="POST" style="margin: 0;">
        <button type="submit" class="button noFixedWidth" name="action" value="clear"><i class="fas fa-trash-alt"></i> Clear queue</button>
      </form>
    </div>
    <div class="table-responsive">
      <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th style="width: 100%;">Track</th>
            <th>Author</th>
            <th>Duration</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% for (var i = 0; i < queue.tracks.length; i++) { %>
          <tr>
            <td><span class="text-nowrap"><%= i + 1 %></span></td>
            <td><span class="text-nowrap"><%= queue.tracks[i].title %></span></td>
            <td><span class="text-nowrap"><%= queue.tracks[i].author %></span></td>
            <td><span class="text-nowrap"><%= queue.tracks[i].durationMS === 0 ? '🔴 Live' : queue.tracks[i].duration %></span></td>
            <td><span class="text-nowrap"><form method="POST"><input type="hidden" name="index" value="<%= i %>"><button type="submit" class="music-btn" name="action" value="remove"><i class="fas fa-trash-alt"></i></button><button type="submit" class="music-btn" name="action" value="skipto"><i class="fas fa-forward"></i></button></form></span></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
    <% } else { %>
    <div>Nothing currently playing!<br>Join a voice channel and type "/play" to get started!</div>
    <% } %>
  </div>
</div>

<%- include("partials/footer") %>
